{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />
    <style>
        .menu_item{
            width: 20%;
            float:left;
            margin-left: 30px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
            $(".form-control").click(function(event){
                var id = $(this).val();
                var rout = $(this).parent(".menu_item").find(".rout").val();
                if (rout == 'user') {
                    var routeWithPlaceHolderDel= "{{ path('delete_user', {'id': '_id_'}) }}";
                    var routeWithPlaceHolderLock= "{{ path('user_update_byadmin', {'id': '_id_'}) }}";
                }
                if (rout == 'post') {
                    var routeWithPlaceHolderUp= "{{ path('update_post', {'id': '_id_'}) }}";
                    var routeWithPlaceHolderDel= "{{ path('delete_post', {'id': '_id_'}) }}";
                }
                else if (rout == 'category') {
                    var routeWithPlaceHolderUp= "{{ path('category_update', {'id': '_id_'}) }}";
                    var routeWithPlaceHolderDel= "{{ path('delete_category', {'id': '_id_'}) }}";
                }
                else if(rout == 'tag'){
                    var routeWithPlaceHolderUp= "{{ path('tag_update', {'id': '_id_'}) }}";
                    var routeWithPlaceHolderDel= "{{ path('delete_tag', {'id': '_id_'}) }}";
                }
                var routetoLoad = routeWithPlaceHolderUp.replace("_id_",id);
                var update = $(this).parent(".menu_item").find(".update");
                $(update).html("<a href='" + routetoLoad + "'>Update</a>");
                var routetoLoadDel = routeWithPlaceHolderDel.replace("_id_",id);
                var delet = $(this).parent(".menu_item").find(".delete");
                $(delet).html("<a href='" + routetoLoadDel + "'>Delete</a>");
                var routetoLoadLock = routeWithPlaceHolderLock.replace("_id_",id);
                var lock = $(this).parent(".menu_item").find(".lock");
                $(lock).html("<a href='" + routetoLoadLock + "'>Change status</a>");

            });
            $("span.menu").click(function(){
                $(" ul.navig").slideToggle("slow" , function(){
                });
            });
        });
    </script>

{% endblock %}

{% block navigation %}
    <!--header-top-starts-->
    <div class="header-top">
        <div class="container">
            <div class="head-main">
                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo-1.png') }}" alt="" /></a>
                <div style="position:absolute; top: 10px; right: 10%; text-align: left">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p>Hi {{ app.user.username }}</p>
                        {% if is_granted('ROLE_ADMIN') == false %}
                            <a href="{{ path('user_update', {'id': app.user.getId}) }}">Update your profile</a><br/>
                        {% endif %}
                        <a href="{{ path('logout') }}">Log out</a>
                    {% else %}
                        <a href="{{ path('login') }}">Log in</a><br/>
                        <a href="{{ path('registry') }}">Registration</a><br/>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!--header-top-end-->

    <!--start-header-->
    <div class="header">
        <div class="container">
            <div class="head">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!--about-starts-->
    <div class="about">
        <div class="container">
            <div class="menu_item">
                <label for="sel">User</label>
                <select class="form-control" id="sel">
                    {% for item in user %}
                        <option value="{{ item.getId }}">{{ item.getUsername }}</option>
                    {% endfor %}
                </select>
                <input type="text" class = "rout" value="user" hidden>

                <ul>
                    <li class="delete"><a href="{{ path('delete_user', {'id': 1}) }}">Delete</a></li>
                    <li class="lock"><a href="{{ path('user_update_byadmin', {'id': 1}) }}">Change status</a></li>
                </ul>
            </div>
            <div class="menu_item">
                <label for="sel">Post</label>
                <select class="form-control" id="sel">
                    {% for item in post %}
                        <option value="{{ item.getId }}">{{ item.getTitle }}</option>
                    {% endfor %}
                </select>
                <input type="text" class = "rout" value="post" hidden>

                <ul>
                    <li class="update"><a href="{{ path('update_post', {'id': 1}) }}">Update</a></li>
                    <li class="delete"><a href="{{ path('delete_post', {'id': 1}) }}">Delete</a></li>
                </ul>
            </div>
            <div class="menu_item">
            <label for="sel">Category</label>
            <select class="form-control" id="sel">
                {% for item in category %}
                <option value="{{ item.getId }}">{{ item.getDescription }}</option>
                {% endfor %}
            </select>
            <input type="text" class = "rout" value="category" hidden>

            <ul>
                <li><a href='{{ path("category_new") }}'>Create</a></li>
                <li class="update"><a href="{{ path('category_update', {'id': 1}) }}">Update</a></li>
                <li class="delete"><a href="{{ path('delete_category', {'id': 1}) }}">Delete</a></li>
            </ul>
            </div>
            <div class="menu_item">
                <label for="sel">Tag</label>
                <select class="form-control" id="sel">
                    {% for item in tag %}
                        <option value="{{ item.getId }}">{{ item.getName }}</option>
                    {% endfor %}
                </select>
                <input type="text" class = "rout" value="tag" hidden>

                <ul>
                    <li><a href='{{ path("category_new") }}'>Create</a></li>
                    <li class="update"><a href="{{ path('tag_update', {'id': 1}) }}">Update</a></li>
                    <li class="delete"><a href="{{ path('delete_tag', {'id': 1}) }}">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--about-end-->

{% endblock %}

{% block footer %}
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-text">
                <p>© 2015 Coffee Break. All Rights Reserved | Design by Jckjd</a> </p>
            </div>
        </div>
    </div>
    <!--footer-end-->
{% endblock %}