<script>
    $(".subcoments").click(function(event){
        var coment_id = $(this).parent(".coments").find(".coment_id").val();
        var post_id = $(this).parent(".coments").find(".post_id").val();
        var $loadContent = $(this).parent(".coments").find("div.media");
        var routeWithPlaceHolder= "{{ path('sub_coment', {'post_id': '_post_id_', 'coment_id': '_coment_id_'}) }}" ;
        var route = routeWithPlaceHolder.replace("_post_id_",post_id) ;
        var routeToLoad = route.replace("_coment_id_",coment_id) ;
        $loadContent.load(routeToLoad) ;
    });
    $("span.form_sub_coments").click(function(event){
        var coment_id = $(this).parent(".coments").find(".coment_id").val();
        var post_id = $(this).parent(".coments").find(".post_id").val();
        var $loadContent = $(this).parent(".coments").find("div.media");
        var routeWithPlaceHolder= "{{ path('sub_coment_form', {'post_id': '_post_id_', 'coment_id': '_coment_id_'}) }}" ;
        var route = routeWithPlaceHolder.replace("_post_id_",post_id) ;
        var routeToLoad = route.replace("_coment_id_",coment_id) ;
        $loadContent.load(routeToLoad) ;
    });
</script>
{% set child_coments=coment.getChildComents %}
      {% if child_coments != null %}
          {%  for child_coment in child_coments %}

                  <div class="media-left">
                      <a href="#">
                          <img src="{{ asset('images/si.png') }}" alt="">
                      </a>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading">{{ child_coment.getUser.getNickName }}
                          <a href="{{ path('delete_coment', {'id': child_coment.getId }) }}"
                             style="font-size: 10px">  Delete coment</a></h4>
                      <p>{{ child_coment.getContent }}</p>
                  </div>
              <div  class = "coments" style="font-size:10px;" ><span class = "subcoments" >  Back comments ({{ child_coment.getChildComents|length }})</span>
                  <span class = "form_sub_coments">  Add subcomments </span>
                  <input type="text" class = "coment_id" value="{{ child_coment.getId }}" hidden>
                  <input type="text" class = "post_id" value="{{ blog.getId }}" hidden>
                  <div class="media" style="width: 95%; float: right"></div>
              </div>
          {% endfor %}
      {% endif %}
