{% extends 'AppBundle::main.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #link_sub_coments:hover {
            color: cornflowerblue;
        }
        #link_child_coments:hover {
            color: cornflowerblue;
        }
    </style>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#driver").click(function(event){
                var url  = window.location.href;
                $.getJSON(url, function(jd) {
                    $('#points').html( jd.points );
                });

            });
            $("#link_sub_coments").click(function(event){
                var id = $("#coment_id").val();
                var $loadContent = $("#subcoments") ;
                var routeWithPlaceHolder= "{{ path('sub_coment', {'id': '_id_'}) }}" ;
                var routeToLoad = routeWithPlaceHolder.replace("_id_",id) ;
                $loadContent.load(routeToLoad) ;
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="single">
        <div class="container">
            <div class="single-top">
                <a href="#"><img class="img-responsive" src="{{ asset('images/single-1.jpg') }}" alt=" "></a>
                <div class=" single-grid">
                    <h4>{{ blog.title }}</h4>
                    <ul class="blog-ic">
                        <li><a href="{{ path('author', {'slug': blog.getUser.getNickName }) }}"><span> <i  class="glyphicon glyphicon-user"> </i>{{ blog.getUser.getNickName }}</span> </a> </li>
                        <li><span><i class="glyphicon glyphicon-time"> </i>{{ blog.getCreatedAt|date('h:iA') }}</span></li>
                        <li><span><i class="glyphicon glyphicon-heart" id = "driver"></i><span id = "points">{{ blog.getPoints|length }}</span></span></li>

                    </ul>
                    {% set tags=blog.getTags %}
                    <p>{%  for tag in tags %}
                            <b><a href="{{ path('tag', {'slug': tag.getName }) }}">#{{ tag.getName }}</a></b>
                        {% endfor %}
                    </p>
                    <p>{{ blog.body }}</p>
                    <p><time datetime="{{ blog.getCreatedAt|date('c') }}">{{ blog.getCreatedAt|date('l, F j, Y') }}</time></p>
                    <p>Updated {{ blog.getUpdatedAt|timediff }}</p>
                </div>
                <div class="comments heading">
                    <h3>Comments</h3>
                    {% set coments=blog.getComents %}
                    {%  for coment in coments %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ coment.getUser.getNickName }}</a>
                                    <a href="{{ path('delete_coment', {'id': coment.getId }) }}", style="font-size:10px;">  Delete coment</a></h4>
                                <p>{{ coment.getContent }}</p>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img src="{{ asset('images/si.png') }}" alt=""> </a>
                            </div>
                        </div>
                        <div id = "link_sub_coments" style="font-size:10px;" >  Back comments ({{ coment.getChildComents|length }}) </div>
                        <input type="text" id = "coment_id" value="{{ coment.getId }}" hidden>
                        <div class="media" id = "subcoments" style="width: 95%; float: right"></div>
                    {% endfor %}
                </div>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <div class="comment-bottom heading" style="clear: both">
                    <h3>Leave a Comment</h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Create"
                               class="btn btn-default pull-right" />
                        {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block slider %}
    {{ include('AppBundle:Pages:slider.html.twig') }}
{% endblock %}