{% extends 'AppBundle::main.html.twig' %}

{% block body %}
    <div class="single">
        <div class="container">
            <div class="single-top">
                <a href="#"><img class="img-responsive" src="{{ asset('images/single-1.jpg') }}" alt=" "></a>
                <div class=" single-grid">
                    <h4>{{ blog.title }}</h4>
                    <ul class="blog-ic">
                        <li><a href="{{ path('author', {'slug': blog.getUser.getNickName }) }}"><span> <i  class="glyphicon glyphicon-user"> </i>{{ blog.getUser.getNickName }}</span> </a> </li>
                        <li><span><i class="glyphicon glyphicon-time"> </i>{{ blog.getCreatedAt|date('h:iA') }}</span></li>
                        <li><span><i class="glyphicon glyphicon-eye-open"> </i>Hits:145</span></li>
                    </ul>
                    {% set tags=blog.getTags %}
                    <p>{%  for tag in tags %}
                            <b><a href="{{ path('tag', {'slug': tag.getName }) }}">#{{ tag.getName }}</a></b>
                        {% endfor %}
                    </p>
                    <p>{{ blog.body }}</p>
                    <p><time datetime="{{ blog.getCreatedAt|date('c') }}">{{ blog.getCreatedAt|date('l, F j, Y') }}</time></p>
                </div>
                <div class="comments heading">
                    <h3>Comments</h3>
                    {% set coments=blog.getComents %}
                    {%  for coment in coments %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ coment.getUser.getNickName }}</a></h4>
                                <p>{{ coment.getContent }}</p>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img src="{{ asset('images/si.png') }}" alt=""> </a>
                            </div>
                        </div>
                        {% set child_coments=coment.getChildComents %}
                        {% if child_coments != null %}
                        {%  for child_coment in child_coments %}
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img src="{{ asset('images/si.png') }}" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ child_coment.getUser.getNickName }}</h4>
                                <p>{{ child_coment.getContent }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="comment-bottom heading">
                    <h3>Leave a Comment</h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Create"
                               class="btn btn-default pull-right" />
                        {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block slider %}
    {{ include('AppBundle:Pages:slider.html.twig') }}
{% endblock %}