{% extends 'AppBundle::main.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .subcoments:hover {
            color: cornflowerblue;
        }
        #link_child_coments:hover {
            color: cornflowerblue;
        }
        .form_sub_coments:hover {
            color: cornflowerblue;
        }
    </style>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#driver").click(function(event){
                if ({{ is_granted('IS_AUTHENTICATED_FULLY') }}) {
                    var url = window.location.href;
                    $.getJSON(url, function (jd) {
                        $('#points').html(jd.points);
                    });
                }
                else{
                    alert("Login to add your like");
                }

            });
            $(".subcoments").click(function(event){
                var coment_id = $(this).parent(".coments").find(".coment_id").val();
                var post_id = $(this).parent(".coments").find(".post_id").val();
                var $loadContent = $(this).parent(".coments").find("div.media");
                var routeWithPlaceHolder= "{{ path('sub_coment', {'post_id': '_post_id_', 'coment_id': '_coment_id_'}) }}" ;
                var route = routeWithPlaceHolder.replace("_post_id_",post_id) ;
                var routeToLoad = route.replace("_coment_id_",coment_id) ;
                $loadContent.load(routeToLoad) ;
            });
            $("span.form_sub_coments").click(function(event){
                var coment_id = $(this).parent(".coments").find(".coment_id").val();
                var post_id = $(this).parent(".coments").find(".post_id").val();
                var $loadContent = $(this).parent(".coments").find("div.media");
                var routeWithPlaceHolder= "{{ path('sub_coment_form', {'post_id': '_post_id_', 'coment_id': '_coment_id_'}) }}" ;
                var route = routeWithPlaceHolder.replace("_post_id_",post_id) ;
                var routeToLoad = route.replace("_coment_id_",coment_id) ;
                $loadContent.load(routeToLoad) ;
            });
        });

    </script>
{% endblock %}
{% block body %}
    <div class="single">
        <div class="container">
            <div class="single-top">
                <a href="#"><img class="img-responsive" src="{{ asset(blog.getImage) }}" alt=" "></a>
                <div class=" single-grid">
                    <h4>{{ blog.title }}</h4>
                    <ul class="blog-ic">
                        <li><a href="{{ path('author', {'slug': blog.getUser.getUsername }) }}"><span> <i  class="glyphicon glyphicon-user"> </i>{{ blog.getUser.getUsername }}</span> </a> </li>
                        <li><span><i class="glyphicon glyphicon-time"> </i>{{ blog.getCreatedAt|date('h:iA') }}</span></li>
                        <li><span><i class="glyphicon glyphicon-heart" id = "driver"></i><span id = "points">{{ blog.getPoints|length }}</span></span></li>

                    </ul>
                    {% set tags=blog.getTags %}
                    <p>{%  for tag in tags %}
                            <b><a href="{{ path('tag', {'slug': tag.getName }) }}">#{{ tag.getName }}</a></b>
                        {% endfor %}
                    </p>
                    <p>{{ blog.body }}</p>
                    <p><time datetime="{{ blog.getCreatedAt|date('c') }}">{{ blog.getCreatedAt|date('l, F j, Y') }}</time></p>
                    <p><span>Updated {{ blog.getUpdatedAt|timediff }}</span><br/>
                        {% if is_granted('edit', blog) %}
                        <a href="{{ path('update_post', {'id': blog.getId }) }}">Update this post</a><br/>
                            <a href="{{ path('delete_post', {'id': blog.getId }) }}">Delete this post</a>
                         {% endif %}
                            </p>
                </div>
                <div class="comments heading">
                    <h3>Comments</h3>
                    {% set coments=blog.getComents %}
                    {%  for coment in coments %}
                        <div class="media" style="clear: both">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ coment.getUser.getUsername }}</a>
                                {% if is_granted('edit', coment) %}
                                    <a href="{{ path('delete_coment', {'id': coment.getId }) }}", style="font-size:10px;">  Delete coment</a>
                                {% endif %}
                                </h4>
                                <p>{{ coment.getContent }}</p>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img src="{{ asset('images/si.png') }}" alt=""> </a>
                            </div>
                        </div>
                        <div  class = "coments" style="font-size:10px;" ><span class = "subcoments" >  Comments to({{ coment.getChildComents|length }})</span>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span class = "form_sub_coments">  Add subcomments </span>
                        {% endif %}
                        <input type="text" class = "coment_id" value="{{ coment.getId }}" hidden>
                        <input type="text" class = "post_id" value="{{ coment.getPost.getId }}" hidden>
                        <div class="media" style="width: 95%; float: right"></div>
                        </div>
                    {% endfor %}
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="comment-bottom heading" style="clear: both">
                    <h3>Leave a Comment</h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Create"
                               class="btn btn-default pull-right" />
                        {{ form_end(form) }}
                </div>
                {% else %}
                    <p style="clear: both" ><a href="{{ path('login') }}">Please login to leave you coment</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block slider %}
    {{ include('AppBundle:Pages:slider.html.twig') }}
{% endblock %}